@model Bazar360.Models.Product

@{
    ViewData["Title"] = "Create";
}

<br/>

<h2 class="text-light">Add Product</h2>
<form class="text-light" asp-action="Create" method="post" enctype="multipart/form-data">
    <div class="p-4 rounded border">
        <div asp-validation-summary="ModelOnly" class="text-danger">
            
        </div>
        <h3 class="text-danger text-center pb-3">@ViewBag.message</h3>
        <div class="form-group row">
            <div class="col-2">
                <label asp-for="Name"></label>
            </div>
            <div class="col-5 mb-2">
                <input asp-for="Name" class="form-control"/>
            </div>
            <span asp-validation-for="Name" class="text-danger"></span>
        </div>

         <div class="form-group row">
            <div class="col-2">
                <label asp-for="Price"></label>
            </div>
            <div class="col-5 mb-2">
                <input asp-for="Price" class="form-control"/>
            </div>
            <span asp-validation-for="Price" class="text-danger"></span>
        </div>

         <div class="form-group row">
            <div class="col-2">
                <label asp-for="ImageFile"></label>
            </div>
            <div class="col-5 mb-2">
                 <input asp-for="ImageFile" multiple class="form-control" />
            </div>
            <span asp-validation-for="ImageFile" class="text-danger"></span>
        </div>

        <div class="form-group row">
            <div class="col-2">
                <label asp-for="ProductColor"></label>
            </div>
            <div class="col-5 mb-2">
                <input asp-for="ProductColor" class="form-control"/>
            </div>
            <span asp-validation-for="ProductColor" class="text-danger"></span>
        </div>

        <div class="form-group row">
            <div class="col-2">
                <label asp-for="ProductTypeId"></label>
            </div>
            <div class="col-5 mb-2">
               <select asp-for="ProductTypeId" asp-items="ViewBag.productTypeId" class="form-select"></select>
            </div>
            <span asp-validation-for="ProductTypeId" class="text-danger"></span>
        </div>

         <div class="form-group row">
            <div class="col-2">
                <label asp-for="SpecialTagId"></label>
            </div>
            <div class="col-5 mb-2">
              <select asp-for="SpecialTagId" asp-items="ViewBag.specialTagId"  class="form-select"></select>
            </div>
            <span asp-validation-for="SpecialTagId" class="text-danger"></span>
        </div>

         <div class="form-group row">
            <div class="col-2">
                <label asp-for="ProductTypeId"></label>
            </div>
            <div class="col-5 mb-2">
                <input asp-for="IsAvailable" type="checkbox"/>
            </div>
            <span asp-validation-for="IsAvailable" class="text-danger"></span>
        </div>
        <br />


        <div class="form-group">
            <input type="submit" class="btn btn-primary" value="Save"/>
            <a asp-action="Index" class="btn btn-success">Back to List</a>
        </div>
    </div>
</form>

@*---------Note 2-------------*@

@section Scripts{
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}