@using Microsoft.AspNetCore.Http
@inject IHttpContextAccessor HttpContextAccessor
@using Bazar360.Utility
@{
    int count = 0;
    List<Product> products = HttpContextAccessor.HttpContext.Session.Get<List<Product>>("products");
    if (products==null)
    {
        products = new List<Product>();
    }
    count = products.Count();
}


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Bazar360</title>
    @*<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />*@
   
    <link rel="stylesheet" href="~/css/BootswatchTheme.css" />  @* ----------Theme--------------*@
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.12.1/css/jquery.dataTables.min.css" />  @* ----------JqueryData Table--------------*@
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/buttons/2.2.3/css/buttons.dataTables.min.css" />  @* ----------JqueryData Table PDF-EXCEL--------------*@
     <link rel="stylesheet" href="//code.jquery.com/ui/1.13.2/themes/base/jquery-ui.css"> @* ----------Jquery Date Picker--------------*@
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />

    <link rel="stylesheet" href="~/Bazar360.styles.css" asp-append-version="true" />

    <!-- CDN for Alertify -->
   <link rel="stylesheet" href="//cdn.jsdelivr.net/npm/alertifyjs@1.13.1/build/css/alertify.min.css"/>

</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-success bg-success  border-bottom box-shadow mb-3">
            <div class="container-fluid">
                <a class="navbar-brand text-light" asp-area="Customer" asp-controller="Home" asp-action="Index">Bazar360</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        
                        <li class="nav-item">
                            <a class="nav-link text-white" asp-area="Customer" asp-controller="Home" asp-action="Privacy">Privacy</a>
                        </li>

                         <li class="nav-item">
                            <a class="nav-link text-white" asp-area="Admin" asp-controller="ProductTypes" asp-action="Index">Category</a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link text-white" asp-area="Admin" asp-controller="SpecialTag" asp-action="Index">Special Tag </a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link text-white" asp-area="Admin" asp-controller="Product" asp-action="Index">Product</a>
                        </li>

                       <li class="nav-item">
                            <a class="nav-link text-white" asp-area="Customer" asp-controller="Home" asp-action="Cart">
                                <i class="fas fa-shopping-cart"></i>
                                (@count)
                            </a>
                        </li>

                         <li class="nav-item">
                            <a class="nav-link text-white" asp-area="Customer" asp-controller="User" asp-action="Index">User</a>
                        </li>

                         <li class="nav-item">
                            <a class="nav-link text-white" asp-area="Admin" asp-controller="Role" asp-action="Index">Role</a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link text-white" asp-area="Admin" asp-controller="Role" asp-action="AssignUserRole">User Role</a>
                        </li>
                    </ul>
                    <partial name="_LoginPartial" />
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2022 - Raihan - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    @*   <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>*@

    <script src="//cdn.datatables.net/1.12.1/js/jquery.dataTables.min.js"></script> @*---------JQueryData Table-------*@
       @* ---jQuery Data Table- PDF-EXCEL-PRINT-Button----*@
    <script src="https://cdn.datatables.net/buttons/2.2.3/js/dataTables.buttons.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.1.3/jszip.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/pdfmake.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/vfs_fonts.js"></script>
    <script src="https://cdn.datatables.net/buttons/2.2.3/js/buttons.html5.min.js"></script>
    <script src="https://cdn.datatables.net/buttons/2.2.3/js/buttons.print.min.js"></script>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>     @* ----------Theme--------------*@
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="https://kit.fontawesome.com/e19c476714.js"></script> @*---------Font Awesome-------*@
    <script src="//cdn.jsdelivr.net/npm/alertifyjs@1.13.1/build/alertify.min.js"></script> @*---------Alertify-------*@
    <script src="https://code.jquery.com/ui/1.13.2/jquery-ui.js"></script>  @* ----------Jquery Date Picker--------------*@





    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
