@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    
    <h1 class="display-4">Final Assesment</h1>
 
    <h3 class="text-white"> <a href="https://mmraihan.github.io/raihan/">Mubasshir Raihan</a></h3>

</div>
